In [1]:
#READ THE EXCEL FILE
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

df=pd.read_excel("D:/Data _Science/Projects/Mini-Project 2/ICRISAT-District Level Data.xlsx")
#Print the data
df

,Dist Code,Year,State Code,State Name,Dist Name,RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha),WHEAT AREA (1000 ha),WHEAT PRODUCTION (1000 tons),...,SUGARCANE YIELD (Kg per ha),COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),FRUITS AREA (1000 ha),VEGETABLES AREA (1000 ha),FRUITS AND VEGETABLES AREA (1000 ha),POTATOES AREA (1000 ha),ONION AREA (1000 ha),FODDER AREA (1000 ha)
0,1,1966,14,Chhattisgarh,Durg,548.00,185.00,337.59,44.00,20.00,...,1777.78,0.0,0.0,0.0,5.95,6.64,12.59,0.01,0.60,0.47
1,1,1967,14,Chhattisgarh,Durg,547.00,409.00,747.71,50.00,26.00,...,1500.00,0.0,0.0,0.0,5.77,7.24,13.02,0.01,0.56,1.23
2,1,1968,14,Chhattisgarh,Durg,556.30,468.00,841.27,53.70,30.00,...,1000.00,0.0,0.0,0.0,5.41,7.40,12.81,0.10,0.58,1.02
3,1,1969,14,Chhattisgarh,Durg,563.40,400.80,711.40,49.40,26.50,...,1900.00,0.0,0.0,0.0,5.52,7.16,12.69,0.01,0.56,0.84
4,1,1970,14,Chhattisgarh,Durg,571.60,473.60,828.55,44.20,29.00,...,2000.00,0.0,0.0,0.0,5.45,7.19,12.64,0.02,0.52,0.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16141,917,2013,15,Jharkhand,Singhbhum,267.06,579.70,2170.67,1.53,1.85,...,0.00,0.0,0.0,0.0,0.00,9.02,9.03,0.48,0.08,0.00
16142,917,2014,15,Jharkhand,Singhbhum,256.33,586.63,2288.57,5.36,6.65,...,0.00,0.0,0.0,0.0,0.00,8.63,8.64,0.46,0.04,0.00
16143,917,2015,15,Jharkhand,Singhbhum,263.21,264.71,1005.70,1.99,1.82,...,0.00,0.0,0.0,0.0,0.00,6.84,6.85,0.42,0.01,0.00
16144,917,2016,15,Jharkhand,Singhbhum,224.05,319.01,1423.84,0.38,0.83,...,0.00,0.0,0.0,0.0,0.03,6.40,6.43,0.03,0.01,0.00
16145,917,2017,15,Jharkhand,Singhbhum,386.91,669.97,1731.62,0.00,0.00,...,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00

In [2]:
#SQL CONNECTION
import pymysql

myconnection= pymysql.connect(host="localhost",user="root",password="Gaja!Kani2022")

cursor=myconnection.cursor()
cursor.execute("create database AGRI_DATA")
cursor.execute("use AGRI_DATA")

0

In [3]:
#Create the table
cursor.execute("""CREATE TABLE IF NOT EXISTS Agri_Table(
`Dist Code` int,
Year int,
`State Code` int,
`State Name` char(20),
`Dist Name` char(100),
`RICE AREA (1000 ha)` float,
`RICE PRODUCTION (1000 tons)` float,
`RICE YIELD (Kg per ha)` float,
`WHEAT AREA (1000 ha)` float,
`WHEAT PRODUCTION (1000 tons)` float,
`WHEAT YIELD (Kg per ha)` float,
`MAIZE AREA (1000 ha)` float,
`MAIZE PRODUCTION (1000 tons)` float,
`MAIZE YIELD (Kg per ha)` float,
`OILSEEDS AREA (1000 ha)` float,
`OILSEEDS PRODUCTION (1000 tons)` float,
`OILSEEDS YIELD (Kg per ha)` float,
`COTTON AREA (1000 ha)` float,
`COTTON PRODUCTION (1000 tons)`float,
`COTTON YIELD (Kg per ha)` float,
`GROUNDNUT AREA (1000 ha)` float,
`GROUNDNUT PRODUCTION (1000 tons)` float,
`GROUNDNUT YIELD (Kg per ha)` float
)""")

0

In [5]:
query = """INSERT INTO Agri_Table(`Dist Code`,Year,`State Code`,`State Name`,`Dist Name`,`RICE AREA (1000 ha)`,`RICE PRODUCTION (1000 tons)`,
                                 `RICE YIELD (Kg per ha)`,`WHEAT AREA (1000 ha)`,`WHEAT PRODUCTION (1000 tons)`,`WHEAT YIELD (Kg per ha)`,
                                 `MAIZE AREA (1000 ha)`,`MAIZE PRODUCTION (1000 tons)`,`MAIZE YIELD (Kg per ha)`,`OILSEEDS AREA (1000 ha)`,
                                 `OILSEEDS PRODUCTION (1000 tons)`,`OILSEEDS YIELD (Kg per ha)`,`COTTON AREA (1000 ha)`,`COTTON PRODUCTION (1000 tons)`,
                                 `COTTON YIELD (Kg per ha)`,`GROUNDNUT AREA (1000 ha)`,`GROUNDNUT PRODUCTION (1000 tons)`,`GROUNDNUT YIELD (Kg per ha)`)
                                  values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"""

for _, row in df.iterrows():
    cursor.execute(query,(
        int(row.get('Dist Code'))if row.get('Dist Code')is not None else None,
        int(row.get('Year'))if row.get('Year')is not None else None,
        int(row.get('State Code'))if row.get('State Code')is not None else None,
        row.get('State Name'),
        row.get('Dist Name'),
        float(row.get('RICE AREA (1000 ha)'))if row.get('RICE AREA (1000 ha)')is not None else None,
        float(row.get('RICE PRODUCTION (1000 tons)'))if row.get('RICE PRODUCTION (1000 tons)')is not None else None,
        float(row.get('RICE YIELD (Kg per ha)'))if row.get('RICE YIELD (Kg per ha)')is not None else None,
        float(row.get('WHEAT AREA (1000 ha)'))if row.get('WHEAT AREA (1000 ha)')is not None else None,
        float(row.get('WHEAT PRODUCTION (1000 tons)'))if row.get('WHEAT PRODUCTION (1000 tons)')is not None else None,
        float(row.get('WHEAT YIELD (Kg per ha)'))if row.get('WHEAT YIELD (Kg per ha)')is not None else None,
        float(row.get('MAIZE AREA (1000 ha)'))if row.get('MAIZE AREA (1000 ha)')is not None else None,
        float(row.get('MAIZE PRODUCTION (1000 tons)'))if row.get('MAIZE PRODUCTION (1000 tons)')is not None else None,
        float(row.get('MAIZE YIELD (Kg per ha)'))if row.get('MAIZE YIELD (Kg per ha)')is not None else None,
        float(row.get('OILSEEDS AREA (1000 ha)'))if row.get('OILSEEDS AREA (1000 ha)')is not None else None,
        float(row.get('OILSEEDS PRODUCTION (1000 tons)'))if row.get('OILSEEDS PRODUCTION (1000 tons)')is not None else None,
        float(row.get('OILSEEDS YIELD (Kg per ha)'))if row.get('OILSEEDS YIELD (Kg per ha)')is not None else None,
        float(row.get('COTTON AREA (1000 ha)'))if row.get('COTTON AREA (1000 ha)')is not None else None,
        float(row.get('COTTON PRODUCTION (1000 tons)'))if row.get('COTTON PRODUCTION (1000 tons)')is not None else None,
        float(row.get('COTTON YIELD (Kg per ha)'))if row.get('COTTON YIELD (Kg per ha)')is not None else None,
        float(row.get('GROUNDNUT AREA (1000 ha)'))if row.get('GROUNDNUT AREA (1000 ha)')is not None else None,
        float(row.get('GROUNDNUT PRODUCTION (1000 tons)'))if row.get('GROUNDNUT PRODUCTION (1000 tons)')is not None else None,
        float(row.get('GROUNDNUT YIELD (Kg per ha)'))if row.get('GROUNDNUT YIELD (Kg per ha)')is not None else None
    ))
    myconnection.commit()
print("Inserted data sucessfully")

Inserted data sucessfully